@{
    ViewBag.Title = "Fees";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Current User Fees</h3>
    </div>
    <div class="panel-body">
        <ul class="help-list">
            <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="https://umich.box.com/lnf-userfee-academic" target="_blank">Fee structure for academic users</a></li>
            <li><a href="https://umich.box.com/lnf-userfee-academic" target="_blank">Fee structure for external academic users</a></li>
            <li><a href="https://umich.box.com/lnf-userfee-nonacad" target="_blank">Fee structure for non-academic users</a></li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Precious Metals Fees</h3>
    </div>
    <div class="panel-body">
        <ul class="help-list">
            <li><a href="https://umich.box.com/lnf-materials-acad" target="_blank">Precious metal fees for academic users</a></li>
            <li><a href="https://umich.box.com/lnf-materials-acad" target="_blank">Precious metal fees for external academic users</a></li>
            <li><a href="https://umich.box.com/lnf-materials-nonacad" target="_blank">Precious metal fees for non-academic users</a></li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">LNF Charges and Billing Procedures</h3>
    </div>
    <div class="panel-body">
        <ul class="help-list">
            <li><a href="https://umich.box.com/lnf-cost-model-and-subsidy" target="_blank">Cost Model And Subsidy (Internal Users)</a></li>
            <li><a href="https://umich.box.com/tool-reservation-policy" target="_blank">Tool Reservation Policy</a></li>
            <li><a href="https://umich.box.com/apportionment-instructions" target="_blank">Apportionment Instructions</a></li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Information for technical and financial managers of LNF users</h3>
    </div>
    <div class="panel-body">
        <ul class="help-list">
            <li><a href="https://umich.box.com/instructions-managers-internal" target="_blank"> Instructions for LNF Managers - (Internal)</a></li>
            <li><a href="https://umich.box.com/instructions-managers-external" target="_blank"> Instructions for LNF Managers - (External)</a></li>
        </ul>
    </div>
</div>