@{
    ViewBag.Title = "Fees";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Current User Fees (including precious metals)</h3>
    </div>
    <div class="panel-body">
        <ul class="help-list">
            <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a href="https://umich.box.com/lnf-userfee-academic" target="_blank">Fee structure for academic users</a></li>
            <li><a href="https://umich.box.com/lnf-userfee-academic" target="_blank">Fee structure for external academic users</a></li>
            <li><a href="https://umich.box.com/lnf-userfee-nonacad" target="_blank">Fee structure for non-academic users</a></li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">LNF Charges and Billing Procedures</h3>
    </div>
    <div class="panel-body">
        <ul class="help-list">
            <li><a href="http://lnf-wiki.eecs.umich.edu/wiki/Internal_Billing_Procedure">Internal Billing Procedure</a></li>
            <li><a href="http://lnf-wiki.eecs.umich.edu/wiki/User_Subsidy">CoE Subsidy</a></li>
            <li><a href="http://lnf-wiki.eecs.umich.edu/wiki/LNF-Charges">Optimizing Usage Charges</a></li>
            <li><a href="http://lnf-wiki.eecs.umich.edu/wiki/Apportionment_Instructions">How to Manage Multiple Billing Accounts in the LNF System</a></li>
            <li><a href="http://lnf-wiki.eecs.umich.edu/wiki/Financial_Memos">Archived Financial Memos</a></li>
        </ul>
    </div>
</div>