@{
    ViewBag.Title = "Fees";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Current User Fees (including precious metals)</h3>
    </div>
    <div class="panel-body">
        <ul class="help-list">
            <li><a href="https://umich.box.com/lnf-userfee-internal" target="_blank">Fee structure for internal users</a></li>
            <li><a href="https://umich.box.com/v/lnf-userfee-extacad" target="_blank">Fee structure for external academic users</a></li>
            <li><a href="https://umich.box.com/lnf-userfee-nonacad" target="_blank">Fee structure for non-academic users</a></li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">LNF Charges and Billing Procedures</h3>
    </div>
    <div class="panel-body">
        <ul class="help-list">
            <li><a href="https://lnf-wiki.eecs.umich.edu/wiki/Internal_Billing_Procedure" target="_blank">Internal Billing Procedure</a></li>
            <li><a href="https://lnf-wiki.eecs.umich.edu/wiki/User_Subsidy" target="_blank">CoE Subsidy</a></li>
            <li><a href="https://lnf-wiki.eecs.umich.edu/wiki/LNF-Charges" target="_blank">Optimizing Usage Charges</a></li>
            <li><a href="https://lnf-wiki.eecs.umich.edu/wiki/Apportionment_Instructions" target="_blank">How to Manage Multiple Billing Accounts in the LNF System</a></li>
            <li><a href="https://lnf-wiki.eecs.umich.edu/wiki/Financial_Memos" target="_blank">Archived Financial Memos</a></li>
        </ul>
    </div>
</div>