@{
    ViewBag.Title = "Help";
}

@section styles{
    <style>
        .contact {
            margin-bottom: 10px;
        }

        .contact-name {
            font-weight: bold;
        }

        h3 {
            color: #003366;
        }
    </style>
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Contact Information</h3>
    </div>
    <div class="panel-body">
        <h3>If you have any general issues regarding lab usage, please contact:</h3>
        <div class="contact">
            <div class="contact-name">
                User Services Director: Sandrine Martin
            </div>
            <ul class="help-list">
                <li>1301 Beal Avenue</li>
                <li>1239 EECS Bldg.</li>
                <li><a href="mailto:sandrine@umich.edu">sandrine@umich.edu</a></li>
                <li><a href="tel:7347636719">(734) 763-6719 - office</a></li>
                <li><a href="tel:7342772365">(734) 277-2365 - mobile</a></li>
                <li><a href="tel:7346471781">(734) 647-1781 - fax</a></li>
            </ul>
        </div>
        <hr />
        <h3>If you have questions regarding the LNF Online Services website, please contact:</h3>
        <div class="contact">
            <div class="contact-name">
                IT Support: Jim Getty or Krishna Pagadala
            </div>
            <ul class="help-list">
                <li>1301 Beal Avenue</li>
                <li>2211 EECS Bldg.</li>
                <li><a href="mailto:lnf-it@umich.edu">lnf-it@umich.edu</a></li>
                <li><a href="tel:7346154108">(734) 615-4108 - office</a></li>
                <li><a href="tel:7344787555">(734) 478-7555 - mobile</a></li>
            </ul>
        </div>
    </div>
</div>

