@{
    ViewBag.Title = "UserCommittee";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">User Committee</h3>
    </div>
    <div class="panel-body">
        <strong>Please see the LNF User Committee Wiki page:</strong><br />
        <a style="font-size: large;" href="http://lnf-wiki.eecs.umich.edu/wiki/LNF_Users_Committee">http://lnf-wiki.eecs.umich.edu/wiki/LNF_Users_Committee</a>
    </div>
</div>